
$background-color: #212526;
$particles-color: #fff;
$rocket-primarycolor: #ddd;
$rocket-secondarycolor: #F44336;
$nbmeteors : 6;     // Don't forget to change the number of loop in the haml !
$nbsmoketail : 10;  // same !

.loader-container{
  position: relative;
  background-color: $background-color;
}

.structure, .smoke {
  position: absolute;
  z-index: 1000;
  top: calc(50% - 65px);
  left: calc(50% - 100px);
  width: 200px;
  height: 130px;
}

.smoke {
  z-index: 999;
}

.structure {
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
  animation: shake 0.42s cubic-bezier(.36,.07,.19,.97) both infinite;
}

.text-container {
  position: absolute;
  top: calc(50% + 100px);
  left: calc(50% - 100px);
  width: 200px;
  
  h2 {
    width: 100%;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: $particles-color;
  }
}

#rocket-svg {
  position: absolute;
  top: -112px;
  transform: rotate(90deg);
}

#right-wing , #left-wing, #nose, #window-stroke, #middle-wing{
  fill: $rocket-secondarycolor;
}

#rocket-main-part {
  fill: $rocket-primarycolor;
}

#window-inner {
  fill: $background-color;
}

.smoke span{
  position: absolute;
  width: 50px;
  border-bottom: 2px solid $particles-color;
}

.meteors-container {
  position: absolute;
  z-index: 998;
  width: 76vw;
  height: 100vh;
  overflow: hidden;
}

.meteors-container span{
  position: absolute;
  width: 75px;
  border-bottom: 2px solid $particles-color;
}

@for $i from 0 to $nbsmoketail {
  
  $top : 28 + (8 * $i) + px;
  $leftStart : -50 + px;
  $leftEnd : -50 - random(250) + px;
  $speed : (random(10)+3)/20;
  
  .smoke span:nth-child(#{$i + 1}) {
    top: $top;
    left: $leftStart;
    box-shadow: 0px 0px 5px $particles-color;
    animation: smokeAnim-#{$i} ease-out ($speed + s) infinite;
  }
  @keyframes smokeAnim-#{$i} {
    from {
      left: $leftStart;
      opacity: 1;
    }
    to {
      left: $leftEnd;
      opacity: 0;
    }
  }
}

@for $i from 0 to $nbmeteors {
  
  $top : (100 / $nbmeteors) * ($i + 1) + '%';
  $speed : (random(10)+5)/20;
  
  .meteors-container span:nth-child(#{$i + 1}) {
    top: #{$top};
    left: 100%;
    box-shadow: 0px 0px 5px $particles-color;
    animation: meterosAnim-#{$i} linear ($speed + s) infinite;
  }
  @keyframes meterosAnim-#{$i} {
    0% {
      left: 100%;
    }
    75% {
      left: calc(0% - 75px);
    }
    100% {
      left: calc(0% - 75px);
    }
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 1px, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 2px, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-2px, -2px, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 2px, 0);
  }
}
