body {
    margin: 0;
    background: transparent;
    overflow: hidden;
    cursor: url("/Main/Assets/images/cursor.png"), auto;
}
.containsVid {
    background-size: cover;
    background-repeat: repeat;
    justify-content: start;
    margin-top: 0vh;
    align-items: start;
    z-index: 1;
    display: flex;
    position: fixed;
    
}

#background{
    z-index: 0;
}

.glassContainer {
    width: 60vw;
    height: 50vh;
    top: 90vh;
    left: 20vw;
    border: 0px solid #ddd !important;
    z-index: 1;
    position: absolute;
    border-radius: 2vw;
    backdrop-filter: blur(0.2vw);
    padding: 4vh !important;
    padding-top: 2vh !important;
    font-size: 1.5em;
    gap: 1vh;
    display: flex;
    flex-direction: column;
}

.date1{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}
.gc {
    transition: 0.2s ease-in-out;
    opacity: 1;
    overflow: hidden;
    box-shadow: 0 0 1em 0.2em #b1b1b1;
    transition: 0.2s ease-in-out;
    z-index: 1000;
}

.gc:hover{
    box-shadow: 0 0 1em 0.5em #ffffff;

}

.slidercontrols{
    width: 100%;
}

#playPauseBtn{
    background: transparent;
    border: none;
}

#playPauseBtn img{
    width: 1.5vw;
    background: transparent;
}

button:hover{
    cursor: url("/Main/Assets/images/cursor2.png"), auto;

}

.zoomslider{
    position: absolute;
    height: 30vh;
    top: 35vh;
    left: 98vw;
    z-index: 100;
}

.solar-system {
    position: relative;
    width: 0vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
    z-index: 19;
    margin-left: -65vw;
}



.sun {
    width: 80px;
    height: 80px;
    background: url('./images/sun.png') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
}

.orbit {
    position: absolute;
    border: 1px solid gray;
    border-radius: 50%;
    transform-origin: center;
    animation: none;
}

.mercury-orbit { width: 150px; height: 150px; animation-duration: 2.41096s; }
.venus-orbit { width: 200px; height: 200px; animation-duration: 6.16438s; }
.earth-orbit { width: 250px; height: 250px; animation-duration: 10s; }
.transfer-orbit {
    width: 256px; /* Horizontal diameter */
    height: 274px; /* Vertical diameter */
    border: 1px solid red; 
    border-radius: 100%; 
    position: absolute;
    left:0.2px;
    transform-origin: center;
    
}
.mars-orbit { width: 300px; height: 300px; animation-duration: 18.8219s; }
.jupiter-orbit { width: 400px; height: 400px; animation-duration: 118.7123s; }
.saturn-orbit { width: 500px; height: 500px; animation-duration: 294.76712s; }
.uranus-orbit { width: 600px; height: 600px; animation-duration: 840.73973s; }
.neptune-orbit { width: 700px; height: 700px; animation-duration: 1649.041s; }

.planet {
    width: 15px;
    height: 15px;
    background: gray;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 19;
    transform-origin: center;
    background-size: cover !important;
}
.planet , .orbit{
    transition: opacity 0.5s ease-in-out !important;

}

.planet:hover {
    transform: scale(1.5);
}

.mercury { background: url('./images/mercury.png') no-repeat center center; width: 15px; height: 15px; margin-left: -7.5px; margin-top: -82.5px; }
.venus { background: url('./images/venus.png') no-repeat center center; width: 20px; height: 20px; margin-left: -10px; margin-top: -110px; }
.earth { background: url('./images/earth.png') no-repeat center center; width: 25px; height: 25px; margin-left: -12.5px; margin-top: -137.5px; }
.mars { background: url('./images/mars.png') no-repeat center center; width: 20px; height: 20px; margin-left: -10px; margin-top: -160px; }
.future_mars { border: dashed yellow;background: none; width: 20px; height: 20px; margin-left: -10px; margin-top: -160px; }
.jupiter { background: url('./images/jupiter.png') no-repeat center center; width: 35px; height: 35px; margin-left: -17.5px; margin-top: -217.5px; }
.saturn { background: url('./images/saturn.png') no-repeat center center; width: 30px; height: 30px; margin-left: -15px; margin-top: -265px; }
.uranus { background: url('./images/uranus.png') no-repeat center center; width: 25px; height: 25px; margin-left: -12.5px; margin-top: -312.5px; }
.neptune { background: url('./images/neptune.png') no-repeat center center; width: 25px; height: 25px; margin-left: -12.5px; margin-top: -360px; }

@keyframes orbit {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.controls {
    display: block;
    position: absolute;
    left: 50px;
    top: 50%;
    padding: 10px;
    color: black;
    width: 200px;
    font-size: 1.5em;
    z-index: 100;
}

#dateDisplay {
    color: white;
    font: 1.3px;
}

.controls input{
    height: 25px;
    font: 1.2em;
}

.controls button{
    height: 25px;
}

#start-date{
    position: fixed;
    opacity: 0;
}

/* Slider style */
