body {
    margin: 0;
    background: black;
    overflow: hidden;
    
}

.solar-system {
    position: relative;
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}


.sun {
    width: 80px;
    height: 80px;
    background: url('./images/sun.png') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
}

.orbit {
    position: absolute;
    border: 1px dashed gray;
    border-radius: 50%;
    transform-origin: center;
    animation: orbit 20s linear infinite;
}

.mercury-orbit { width: 150px; height: 150px; animation-duration: 2.41096s; }
.venus-orbit { width: 200px; height: 200px; animation-duration: 6.16438s; }
.earth-orbit { width: 250px; height: 250px; animation-duration: 10s; }
.mars-orbit { width: 300px; height: 300px; animation-duration: 18.8219s; }
.jupiter-orbit { width: 400px; height: 400px; animation-duration: 118.7123s; }
.saturn-orbit { width: 500px; height: 500px; animation-duration: 294.76712s; }
.uranus-orbit { width: 600px; height: 600px; animation-duration: 840.73973s; }
.neptune-orbit { width: 700px; height: 700px; animation-duration: 1649.041s; }

.planet {
    width: 15px;
    height: 15px;
    background: gray;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: transform 0.3s ease;
}

.planet:hover {
    transform: scale(1.5);
}

.mercury { background: url('./images/mercury.png') no-repeat center center; width: 15px; height: 15px; margin-left: -7.5px; margin-top: -82.5px; }
.venus { background: url('./images/venus.png') no-repeat center center; width: 20px; height: 20px; margin-left: -10px; margin-top: -110px; }
.earth { background: url('./images/earth.png') no-repeat center center; width: 25px; height: 25px; margin-left: -12.5px; margin-top: -137.5px; }
.mars { background: url('./images/mars.png') no-repeat center center; width: 20px; height: 20px; margin-left: -10px; margin-top: -160px; }
.jupiter { background: url('./images/jupiter.png') no-repeat center center; width: 35px; height: 35px; margin-left: -17.5px; margin-top: -217.5px; }
.saturn { background: url('./images/saturn.png') no-repeat center center; width: 30px; height: 30px; margin-left: -15px; margin-top: -265px; }
.uranus { background: url('./images/uranus.png') no-repeat center center; width: 25px; height: 25px; margin-left: -12.5px; margin-top: -312.5px; }
.neptune { background: url('./images/neptune.png') no-repeat center center; width: 25px; height: 25px; margin-left: -12.5px; margin-top: -360px; }

/* Enlarge planets on hover 
.mercury:hover { transform: scale(1.5); }
.venus:hover { transform: scale(1.5); }
.earth:hover { transform: scale(1.5); }
.mars:hover { transform: scale(1.5); }
.jupiter:hover { transform: scale(1.5); }
.saturn:hover { transform: scale(1.5); }
.uranus:hover { transform: scale(1.5); }
.neptune:hover { transform: scale(1.5); }
*/

@keyframes orbit {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.planet-buttons {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    padding: 10px;
    border-radius: 10px;
}

.planet-buttons button {
    margin: 1px;
    padding: 10px;
    background: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.planet-buttons button:hover {
    background: #555;
}

#result {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: white;
    text-align: center;
}


.hohmann-transfer {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 250px;
    font-size: 1.2em;
}

.hohmann-transfer h2 {
    font-size: 1em;
    margin-bottom: 20px;
}

.hohmann-transfer label,
.hohmann-transfer select,
.hohmann-transfer button {
    display: block;
    margin: 5px 0;
    font-size: 0.8em;
    width: 100%;
}

.hohmann-transfer button {
    padding: 5px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hohmann-transfer button:hover {
    background: #555;
}

.hohmann-transfer p {
    margin: 10px 0;
    font-size: 0.8em;
}

.top-right-image {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the right position as needed */
}

.top-right-image img {
    width: 300px; /* Adjust the width as needed */
    height: auto;
    border-radius: 10%; /* Optional: Adds rounded corners to the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.LaunchWindow {
    position: absolute;
    left: 10px;
    top: 60%;
    transform: translateY(-50%);
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 300px;
    font-size: 1em;

}

.LaunchWindow h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.LaunchWindow button {
    display: block;
    margin: 10px 0;
    font-size: 1em;
    width: 80%;
}

/*.LaunchWindow input {
    display: block;
    margin: 10px 0;
    font-size: 1.2em;
    width: 40%;
} */

.LaunchWindow button {
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.LaunchWindow button:hover {
    background: #555;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    margin-right: 20px;
    display: block;
    font-size: 1em;
    width: 60%
}

input {
    margin-right: 60px;
    padding: 3px;
    display: block;
    font-size: 1em;
    width: 250px;
}

.table {
    font-size: 1em;
}

